@model WebApplication1.ViewModels.RegisteredUser
@{
    ViewBag.Title = "ResetPassword";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <h2>ResetPassword</h2>

    <div>
        @using (Html.BeginForm("ResetPassword", "Home"))
        {

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-offset-2 col-md-10">
                <input type="text" name="passwordToken" value="@ViewBag.PasswordToken" hidden />
                <input type="text" name="userID" value="@ViewBag.UserID" hidden />
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        }
        @Html.Raw(ViewBag.CaptchaResponse)
        @Html.Raw(ViewBag.Message)
            @{ if (ViewBag.Response != null)
                {
                    if (ViewBag.Response.Contains("Success"))
                    {
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @Html.Raw(ViewBag.Response)
                        </div>
                    }
                    else {

                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @Html.Raw(ViewBag.Response)
                        </div>
                    }
                }
            


            @Html.Raw(ViewBag.FakeEmailMessage)
        }


        

        <div>

            @Html.ActionLink("Login Page", "Index")

        </div>





    </div>
</body>
</html>
